.hero {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://i.imgur.com/A7NEWC7.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* height: 100%; */
  /* background-attachment: fixed; */
  color: lightcoral;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 300px;
}

button.correct {
  background-color: hsl(153, 53%, 53%);
  border-radius: 2em;
  padding: 0.3em 1.2em;
  font-size: 1rem;
}

button.selected:not(correct) {
  background-color: hsl(348, 86%, 61%);
  border-radius: 2em;
  padding: 0.3em 1.2em;
  font-size: 1rem;
}

.button-group {
  padding: 10px;
}

button {
  cursor: pointer;
  border-radius: 2em;
  padding: 0.3em 1.2em;
  font-size: 1rem;
}

a {
  margin: 20px;
}

/* .next-button {
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
} */