body {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://i.imgur.com/A7NEWC7.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  color: lightcoral;
  text-align: center;
  margin: 0 auto;
  padding: 100px;
}

/* .answerButton {
  background-color: green;
} */


button.correct {
  background-color: green;
}

button.selected:not(correct) {
  background-color: red;
}
